*{
    padding : 0;
    margin : 0;
}
@font-face {
    font-family: 'eliceR';
    src: url("./EliceDigitalBaeumOTF_Regular.otf");
     font-family: 'eliceB';
    src: url("./EliceDigitalBaeumOTF_Bold.otf");
}
html,body{
    width : 100vw;
    height : 100vh;
    background : #0071CE;
    font-family : "eliceR";
    font-size : 10px;

    overflow : hidden;
}
.logo{
    text-align : center;
    position : relative;
    top : 50%;
    transform : translateY(-50%);
}
#logo1{
    width : 150px;
    position : relative;
    bottom : 0;
}
h1{
    color : white;
    font-size : 1.2rem;
    font-weight : 200;
    position : relative;
    top : -1rem;
}

/* 로그인창 */
.loginC{
    background : white;
    position : absolute;
    bottom : -100vh;
    left : 0;
    right : 0;

    height : 70vh;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;

    padding : 0 20px;
}

/* 로그인상단과 버튼 */
.loginT{
    display : flex;
    margin-top : 40px;
    align-items: center;
    justify-content: space-between;
}
h2{
    color : #0071CE;
    font-size : 1.6rem;
    font-family : "eliceB";
    font-weight : 700;
    margin-bottom : 0.5rem;
}
.logintype{
    color : #5B5B5B;
    font-size : 1.1rem;
}
.closeIcon11{
    width : 1.4rem;
}
#closebutton{
    border-style : none;
    background : transparent;
}

/* 아이디,비번 적는곳 */
.logininput{
    margin-top : 20px;
    display : flex;
    flex-direction : column;
    gap : 1rem;
}
.idinput{
    background : #F3F3F3;
    color : #757575;
    border-style : none;
    padding : 1.3rem;
    font-size : 1.2rem;
    border-radius : 6px;
}
#loginBB{
    text-align : center;
    background : #0071CE;
    color : white;
    border-style : none;
    padding : 11px;
    font-size : 1.3rem;
    font-weight : 700;
    border-radius : 6px;
    box-shadow : 0px 8px 10px rgb(212, 212, 212);
}

/* search button */
.searchidpw{
    display : flex;
    margin-top : 4rem;
    gap : 2rem;
    font-size : 1.2rem;
    justify-content : center;
    color : #767676;
}

/* OR */
.orC{
    margin-top : 4rem;
    border-top : 1px solid #e0e0e0;
    text-align : center;
}
h3{
    background : white;
    display : inline;
    padding : 0 30px;
    color : #767676;
    position : relative;
    top : -1.3rem;
    font-size : 1.4rem;
}

/* socialLogo */
.socialLogo{
    margin-top : 5vh;
    margin-bottom : 5vh;
}
h4{
    text-align : center;
    font-size : 1.2rem;
    color : #767676;
}

/* socialLogoB */
.socialLogoLogin{
    display : flex;
    gap : 2rem;
    justify-content: center;
    margin-top : 1rem;
}
.socialLogoB{
    width : 3.5rem;
    height : 3.5rem;
}